.div-app{
  
  display: flex;
  margin: 0 auto;
 
  
  
}



.card-select-ingredients{
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 1px 10px 1px rgb(221, 221, 221);
}

.row-select-ingredients{
  display: flex;
  text-align: center;
  padding-top: 20px;
  background: rgb(230, 230, 230);
 padding-bottom: 20px;
  
}

.row-ingredients{
  display: flex;
  gap: 12px;
  
}
.col-ingredients{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.icon-cooker{
  filter: drop-shadow(0 0 0.75rem rgba(189, 118, 132, 0.171));
  animation: cooking 3s ease-in infinite;
}

@keyframes cooking {
  0%{
    filter: drop-shadow(0 0 0.75rem rgba(189, 118, 132, 0.171));
  }
  50%{
    filter: drop-shadow(0 0 0.75rem crimson);
  }
  100%{
    filter: drop-shadow(0 0 0.75rem rgba(189, 118, 132, 0.171));
  }
}